@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PTSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PTSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PTSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #293449;
  background-color: #ffffff;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contacts-background {
  background-color: #f3f7f9;
}

.header-container {
  width: 1400px;
  margin: 0 auto;
}

.header-contacts {
  display: flex;
  flex-wrap: wrap;
  padding: 0 117px;
  color: #000000;
}

.contacts-text {
  margin-right: auto;
  font-style: italic;
  font-size: 14px;
  line-height: 18px;
  color: #ee3643;
}

.contacts-address {
  display: flex;
  flex-wrap: wrap;
  width: 508px;
  justify-content: space-between;
  align-items: center;
}

.address-text {
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  /* opacity: 0.2; */
}

.address-phone {
  padding: 13px 0 14px 27px;
  font-weight: 700;
  font-style: normal;
  line-height: 18px;
  color: #293449;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: url(../images/phone.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.logo-background {
  background: #293449;
}

.search-login {
  display: flex;
  padding: 0 112px;
  color: #ffffff;
}

.logo-link {
  width: 220px;
  margin-bottom: -5px;
  padding: 12px 0 14px;
  text-align: center;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
 }
 
.header-form {
  position: relative;
}

 .header-form svg {
  position: absolute;
  top: 12px;
  left: 21px;
  opacity: 0.3;
 }

.header-input {
  width: 716px;
  padding: 8px 0 12px 54px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: none;
  color: #ffffff;
  background-color: transparent;
}

.header-input::placeholder {
  color: #ffffff;
}

.login-container {
  display: flex;
  margin-left: auto;
}

.login-button {
  padding-left: 26px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
  background-image: url(../images/imput.svg);
  background-repeat: no-repeat;
  background-position: left;
  border: none;
  color: #f1f5f7;
  cursor: pointer;
}

.navigation-background {
  background-color: #3d546f;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0 117px;
  justify-content: space-between;
  background-color: transparent;
}

.navigation-site-list {
  display: flex;
  flex-wrap: wrap;
  width: 840px;
  margin: 0;
  margin-left: -23px;
  padding: 0;
  list-style-type: none;
}

.navigation-site-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 20px 24px 26px;
}

.navigation-item:nth-child(1) {
  margin-right: 5px;
}

.navigation-item:nth-child(2) {
  margin-right: 2px;
}

.navigation-item:nth-child(3) {
  margin-right: 3px;
}

.navigation-item:nth-child(5) {
  margin-right: -2px;
}

.navigation-item:nth-child(6) {
  margin-right: 2px;
}

.navigation-order-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-order-link {
  color: #ffffff;
  text-decoration: none;
}

.catalog-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
}

.title-section {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #293449;
}

.manufacturer-legend {
  font-weight: 700;
  text-transform: uppercase;
}

.manufacturer-checkbox {
  font-size: 14px;
  line-height: 18px;
}

.power-legend {
  font-weight: 700;
  text-transform: uppercase;
}

.power-radio {
  font-size: 14px;
  line-height: 18px;
}

.form-button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
  text-align: center;
  border: none;
  color: #32425c;
  cursor: pointer;
}

.sorting-option-select {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #293449;
}

.register-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #293449;
}

.pagination-link {
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #3d546f;
  text-decoration: none;
}

.pagination-current {
  color: #3d546f;
  background-color: #ffffff;
}

.pagination-show-more,
.about-company-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #ee3643;
  color: #ffffff;
  text-decoration: none;
}

.services {
  background-color: #f5f8fa;
}

.services-title {
  text-align: center;
}

.services-title-chapter {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #ffffff;
}

.footer-contacts {
  background-color: #32425c;
}

.copyright {
  background-color: #293449;
}

.contacts-address-text {
  color: #f3f7f9;
  font-style: normal;
}

.subscription-mail,
.subscription-text {
  color: #ffffff;
  font-style: normal;
}

.subscription-mail-link {
  color: #ffd180;
}

.copyright {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.copyright-link {
  color: #ffd180;
  text-decoration: none;
}